<div *ngIf="films.length > 0">
  Film list:
  <ul>
    <li *ngFor="let film of films" (click)="selectFilm(film)">
      {{film.name}}
      <div class="rating-wrp">
        <div class="rating-bg">
          <!-- TODO: use static cycle to MAX_RATING -->
          <div class="star">&#9734;</div>
          <div class="star">&#9734;</div>
          <div class="star">&#9734;</div>
          <div class="star">&#9734;</div>
          <div class="star">&#9734;</div>
        </div>
        <div class="rating" style="width: {{ film.ratingPerc }};">
          <!-- TODO: use static cycle to MAX_RATING -->
          <div class="star">&#9733;</div>
          <div class="star">&#9733;</div>
          <div class="star">&#9733;</div>
          <div class="star">&#9733;</div>
          <div class="star">&#9733;</div>
        </div>
      </div>

    </li>
  </ul>
</div>
