/* You can add global styles to this file, and also import other style files */
:root {
  --base-bg-color: #ffb753;
  --base-border-color: #808080;
}

body {
  margin: 0;
  padding: 0;
  user-select: none;
}
